/* CSS布局 
 * 方法一： float
 */

*{
	padding: 0;
	margin: 0;
}

.left{
	width: 200px;
	height: 300px;
	float: left;
	background-color: #88c67d;
}

.main{
	height: 300px;
	background: #eee;
	margin: 0 210px;
}

.right{
	width: 200px;
	height: 300px;
	float: right;
	background-color: #88c67d;
}

footer{
	height: 100px;
	background: #9a2c8a;
}

header{
	height: 60px;
	background: #f92cd1;
}

/* 2列布局 */
/* 左列固定，右列宽度自适应 */

.css-layout2-left{
	background: #99FFFF;
	height: 300px;
	width: 20%;
	float: left;
}

.css-layout2-right{
	background: #FF9999;
	height: 300px;
	width: 70%;
	float: left;
}